# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/


# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Database
*.db
*.sqlite3

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db